<?php
/**
 * WebhookDeliveryApi
 * PHP version 8.1
 *
 * @category Class
 * @package  PaperBoy\OpenApi
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */

/**
 * PaperBoy HTTP API
 *
 * Tenant-bound transactional email API. API keys select one organization and one live or test environment. Stored instants and HTTP timestamps are RFC 3339 UTC. The queue is provider-neutral: self-hosted SMTP and Cloudflare Email Service and Amazon SES use the same messages, limits, suppressions, and event model. The signed-in console renders this contract at `/app/docs`. The Rust CLI in `crates/paperboy` calls the same bearer-key routes.
 *
 * The version of the OpenAPI document: 1.0.0
 * Generated by: https://openapi-generator.tech
 * Generator version: 7.24.0
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace PaperBoy\OpenApi\Api;

use GuzzleHttp\Client;
use GuzzleHttp\ClientInterface;
use GuzzleHttp\Exception\ConnectException;
use GuzzleHttp\Exception\RequestException;
use GuzzleHttp\Psr7\MultipartStream;
use GuzzleHttp\Psr7\Request;
use GuzzleHttp\RequestOptions;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use PaperBoy\OpenApi\ApiException;
use PaperBoy\OpenApi\Configuration;
use PaperBoy\OpenApi\FormDataProcessor;
use PaperBoy\OpenApi\HeaderSelector;
use PaperBoy\OpenApi\ObjectSerializer;

/**
 * WebhookDeliveryApi Class Doc Comment
 *
 * @category Class
 * @package  PaperBoy\OpenApi
 * @author   OpenAPI Generator team
 * @link     https://openapi-generator.tech
 */
class WebhookDeliveryApi
{
    /**
     * @var ClientInterface
     */
    protected $client;

    /**
     * @var Configuration
     */
    protected $config;

    /**
     * @var HeaderSelector
     */
    protected $headerSelector;

    /**
     * @var int Host index
     */
    protected $hostIndex;

    /** @var string[] $contentTypes **/
    public const contentTypes = [
        'receiveMessageEvent' => [
            'application/json',
        ],
    ];

    /**
     * @param ClientInterface $client
     * @param Configuration   $config
     * @param HeaderSelector  $selector
     * @param int             $hostIndex (Optional) host index to select the list of hosts if defined in the OpenAPI spec
     */
    public function __construct(
        ?ClientInterface $client = null,
        ?Configuration $config = null,
        ?HeaderSelector $selector = null,
        int $hostIndex = 0
    ) {
        $this->client = $client ?: new Client();
        $this->config = $config ?: Configuration::getDefaultConfiguration();
        $this->headerSelector = $selector ?: new HeaderSelector();
        $this->hostIndex = $hostIndex;
    }

    /**
     * Set the host index
     *
     * @param int $hostIndex Host index (required)
     */
    public function setHostIndex($hostIndex): void
    {
        $this->hostIndex = $hostIndex;
    }

    /**
     * Get the host index
     *
     * @return int Host index
     */
    public function getHostIndex()
    {
        return $this->hostIndex;
    }

    /**
     * @return Configuration
     */
    public function getConfig()
    {
        return $this->config;
    }

    /**
     * Operation receiveMessageEvent
     *
     * Receive a signed message event
     *
     * @param  string $webhook_id Stable event UUID; unchanged across retries. (required)
     * @param  int $webhook_timestamp Unix timestamp in whole seconds for this attempt. (required)
     * @param  string $webhook_signature Versioned signature in &#x60;v1,&lt;Base64 HMAC-SHA256&gt;&#x60; form. (required)
     * @param  \PaperBoy\OpenApi\Model\WebhookEvent $webhook_event webhook_event (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['receiveMessageEvent'] to see the possible values for this operation
     *
     * @throws \PaperBoy\OpenApi\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return void
     */
    public function receiveMessageEvent($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, string $contentType = self::contentTypes['receiveMessageEvent'][0])
    {
        $this->receiveMessageEventWithHttpInfo($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, $contentType);
    }

    /**
     * Operation receiveMessageEventWithHttpInfo
     *
     * Receive a signed message event
     *
     * @param  string $webhook_id Stable event UUID; unchanged across retries. (required)
     * @param  int $webhook_timestamp Unix timestamp in whole seconds for this attempt. (required)
     * @param  string $webhook_signature Versioned signature in &#x60;v1,&lt;Base64 HMAC-SHA256&gt;&#x60; form. (required)
     * @param  \PaperBoy\OpenApi\Model\WebhookEvent $webhook_event (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['receiveMessageEvent'] to see the possible values for this operation
     *
     * @throws \PaperBoy\OpenApi\ApiException on non-2xx response or if the response body is not in the expected format
     * @throws \InvalidArgumentException
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function receiveMessageEventWithHttpInfo($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, string $contentType = self::contentTypes['receiveMessageEvent'][0])
    {
        $request = $this->receiveMessageEventRequest($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, $contentType);

        try {
            $options = $this->createHttpClientOption();
            try {
                $response = $this->client->send($request, $options);
            } catch (RequestException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    $e->getResponse() ? $e->getResponse()->getHeaders() : null,
                    $e->getResponse() ? (string) $e->getResponse()->getBody() : null
                );
            } catch (ConnectException $e) {
                throw new ApiException(
                    "[{$e->getCode()}] {$e->getMessage()}",
                    (int) $e->getCode(),
                    null,
                    null
                );
            }

            $statusCode = $response->getStatusCode();


            return [null, $statusCode, $response->getHeaders()];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }
        

            throw $e;
        }
    }

    /**
     * Operation receiveMessageEventAsync
     *
     * Receive a signed message event
     *
     * @param  string $webhook_id Stable event UUID; unchanged across retries. (required)
     * @param  int $webhook_timestamp Unix timestamp in whole seconds for this attempt. (required)
     * @param  string $webhook_signature Versioned signature in &#x60;v1,&lt;Base64 HMAC-SHA256&gt;&#x60; form. (required)
     * @param  \PaperBoy\OpenApi\Model\WebhookEvent $webhook_event (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['receiveMessageEvent'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function receiveMessageEventAsync($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, string $contentType = self::contentTypes['receiveMessageEvent'][0])
    {
        return $this->receiveMessageEventAsyncWithHttpInfo($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, $contentType)
            ->then(
                function ($response) {
                    return $response[0];
                }
            );
    }

    /**
     * Operation receiveMessageEventAsyncWithHttpInfo
     *
     * Receive a signed message event
     *
     * @param  string $webhook_id Stable event UUID; unchanged across retries. (required)
     * @param  int $webhook_timestamp Unix timestamp in whole seconds for this attempt. (required)
     * @param  string $webhook_signature Versioned signature in &#x60;v1,&lt;Base64 HMAC-SHA256&gt;&#x60; form. (required)
     * @param  \PaperBoy\OpenApi\Model\WebhookEvent $webhook_event (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['receiveMessageEvent'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Promise\PromiseInterface
     */
    public function receiveMessageEventAsyncWithHttpInfo($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, string $contentType = self::contentTypes['receiveMessageEvent'][0])
    {
        $returnType = '';
        $request = $this->receiveMessageEventRequest($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, $contentType);

        return $this->client
            ->sendAsync($request, $this->createHttpClientOption())
            ->then(
                function ($response) use ($returnType) {
                    return [null, $response->getStatusCode(), $response->getHeaders()];
                },
                function ($exception) {
                    $response = $exception->getResponse();
                    $statusCode = $response->getStatusCode();
                    throw new ApiException(
                        sprintf(
                            '[%d] Error connecting to the API (%s)',
                            $statusCode,
                            $exception->getRequest()->getUri()
                        ),
                        $statusCode,
                        $response->getHeaders(),
                        (string) $response->getBody()
                    );
                }
            );
    }

    /**
     * Create request for operation 'receiveMessageEvent'
     *
     * @param  string $webhook_id Stable event UUID; unchanged across retries. (required)
     * @param  int $webhook_timestamp Unix timestamp in whole seconds for this attempt. (required)
     * @param  string $webhook_signature Versioned signature in &#x60;v1,&lt;Base64 HMAC-SHA256&gt;&#x60; form. (required)
     * @param  \PaperBoy\OpenApi\Model\WebhookEvent $webhook_event (required)
     * @param  string $contentType The value for the Content-Type header. Check self::contentTypes['receiveMessageEvent'] to see the possible values for this operation
     *
     * @throws \InvalidArgumentException
     * @return \GuzzleHttp\Psr7\Request
     */
    public function receiveMessageEventRequest($webhook_id, $webhook_timestamp, $webhook_signature, $webhook_event, string $contentType = self::contentTypes['receiveMessageEvent'][0])
    {

        // verify the required parameter 'webhook_id' is set
        if ($webhook_id === null || (is_array($webhook_id) && count($webhook_id) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $webhook_id when calling receiveMessageEvent'
            );
        }

        // verify the required parameter 'webhook_timestamp' is set
        if ($webhook_timestamp === null || (is_array($webhook_timestamp) && count($webhook_timestamp) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $webhook_timestamp when calling receiveMessageEvent'
            );
        }
        if ($webhook_timestamp < 0) {
            throw new \InvalidArgumentException('invalid value for "$webhook_timestamp" when calling WebhookDeliveryApi.receiveMessageEvent, must be bigger than or equal to 0.');
        }
        
        // verify the required parameter 'webhook_signature' is set
        if ($webhook_signature === null || (is_array($webhook_signature) && count($webhook_signature) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $webhook_signature when calling receiveMessageEvent'
            );
        }
        if (!preg_match("/^v1,[A-Za-z0-9+\/]+={0,2}$/", $webhook_signature)) {
            throw new \InvalidArgumentException("invalid value for \"webhook_signature\" when calling WebhookDeliveryApi.receiveMessageEvent, must conform to the pattern /^v1,[A-Za-z0-9+\/]+={0,2}$/.");
        }
        
        // verify the required parameter 'webhook_event' is set
        if ($webhook_event === null || (is_array($webhook_event) && count($webhook_event) === 0)) {
            throw new \InvalidArgumentException(
                'Missing the required parameter $webhook_event when calling receiveMessageEvent'
            );
        }


        $resourcePath = '/messageEvent';
        $formParams = [];
        $queryParams = [];
        $headerParams = [];
        $httpBody = '';
        $multipart = false;


        // header params
        if ($webhook_id !== null) {
            $headerParams['webhook-id'] = ObjectSerializer::toHeaderValue($webhook_id);
        }
        // header params
        if ($webhook_timestamp !== null) {
            $headerParams['webhook-timestamp'] = ObjectSerializer::toHeaderValue($webhook_timestamp);
        }
        // header params
        if ($webhook_signature !== null) {
            $headerParams['webhook-signature'] = ObjectSerializer::toHeaderValue($webhook_signature);
        }



        $headers = $this->headerSelector->selectHeaders(
            [],
            $contentType,
            $multipart
        );

        // for model (json/xml)
        if (isset($webhook_event)) {
            if (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the body
                $httpBody = \GuzzleHttp\Utils::jsonEncode(ObjectSerializer::sanitizeForSerialization($webhook_event));
            } else {
                $httpBody = $webhook_event;
            }
        } elseif (count($formParams) > 0) {
            if ($multipart) {
                $multipartContents = [];
                foreach ($formParams as $formParamName => $formParamValue) {
                    $formParamValueItems = is_array($formParamValue) ? $formParamValue : [$formParamValue];
                    foreach ($formParamValueItems as $formParamValueItem) {
                        $multipartContents[] = [
                            'name' => $formParamName,
                            'contents' => $formParamValueItem
                        ];
                    }
                }
                // for HTTP post (form)
                $httpBody = new MultipartStream($multipartContents);

            } elseif (stripos($headers['Content-Type'], 'application/json') !== false) {
                # if Content-Type contains "application/json", json_encode the form parameters
                $httpBody = \GuzzleHttp\Utils::jsonEncode($formParams);
            } else {
                // for HTTP post (form)
                $httpBody = ObjectSerializer::buildQuery($formParams);
            }
        }


        $defaultHeaders = [];
        if ($this->config->getUserAgent()) {
            $defaultHeaders['User-Agent'] = $this->config->getUserAgent();
        }

        $headers = array_merge(
            $defaultHeaders,
            $headerParams,
            $headers
        );

        $operationHost = $this->config->getHost();
        $query = ObjectSerializer::buildQuery($queryParams);
        return new Request(
            'POST',
            $operationHost . $resourcePath . ($query ? "?{$query}" : ''),
            $headers,
            $httpBody
        );
    }

    /**
     * Create http client option
     *
     * @throws \RuntimeException on file opening failure
     * @return array of http client options
     */
    protected function createHttpClientOption()
    {
        $options = [];
        if ($this->config->getDebug()) {
            $options[RequestOptions::DEBUG] = fopen($this->config->getDebugFile(), 'a');
            if (!$options[RequestOptions::DEBUG]) {
                throw new \RuntimeException('Failed to open the debug file: ' . $this->config->getDebugFile());
            }
        }

        if ($this->config->getCertFile()) {
            $options[RequestOptions::CERT] = $this->config->getCertFile();
        }

        if ($this->config->getKeyFile()) {
            $options[RequestOptions::SSL_KEY] = $this->config->getKeyFile();
        }

        return $options;
    }

    private function handleResponseWithDataType(
        string $dataType,
        RequestInterface $request,
        ResponseInterface $response
    ): array {
        if ($dataType === '\SplFileObject') {
            $content = $response->getBody(); //stream goes to serializer
        } else {
            $content = (string) $response->getBody();
            if ($dataType !== 'string') {
                try {
                    $content = json_decode($content, false, 512, JSON_THROW_ON_ERROR);
                } catch (\JsonException $exception) {
                    throw new ApiException(
                        sprintf(
                            'Error JSON decoding server response (%s)',
                            $request->getUri()
                        ),
                        $response->getStatusCode(),
                        $response->getHeaders(),
                        $content
                    );
                }
            }
        }

        return [
            ObjectSerializer::deserialize($content, $dataType, []),
            $response->getStatusCode(),
            $response->getHeaders()
        ];
    }

    private function responseWithinRangeCode(
        string $rangeCode,
        int $statusCode
    ): bool {
        $left = (int) ($rangeCode[0].'00');
        $right = (int) ($rangeCode[0].'99');

        return $statusCode >= $left && $statusCode <= $right;
    }
}
